<!--Encabezado de la página -->
<section class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-8">
        <h1 class="font-weight-bold mb-0">
          Ver perfil {{ perfilUsuario.nombre }} {{ perfilUsuario.apellido }}
        </h1>
        <p class="lead text-muted">
          Gestiona los datos y revisa la actividad del usuario.
        </p>
      </div>
    </div>
  </div>
</section>

<!--Formulario de datos de usuario-->
<section>
  <div class="container">
    <div class="row justify-content-center my-3">
      <div id="formulario" class="card rounded-0">
        <!--Inicio de formulario-->
        <div
          class="card-header bg-light divCollapse"
          (click)="userCollapse.toggle()"
        >
          <h6 class="font-weight-bold mb-0">Formulario de usuario</h6>
        </div>
        <form
          class="mx-5 mt-3"
          [formGroup]="formularioUsuario"
          #userCollapse="ngbCollapse"
          [(ngbCollapse)]="usuarioCollapse"
          (ngSubmit)="actualizar()"
        >
          <!--Campo de Rut-->
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Rut:</label>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                placeholder="123456789-9"
                formControlName="rut"
              />
            </div>
          </div>
          <!--Campo de nombre-->
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Nombre:</label>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                placeholder="Juan"
                formControlName="nombre"
              />
              <small
                class="form-text text-orange"
                *ngIf="campoEsValido('nombre')"
                >Nombre es obligatorio.</small
              >
            </div>
          </div>
          <!--Campo de apellido-->
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Apellido:</label>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                placeholder="Pérez"
                formControlName="apellido"
              />
              <small
                class="form-text text-orange"
                *ngIf="campoEsValido('apellido')"
                >Apellido es obligatorio.</small
              >
            </div>
          </div>
          <!--Campo de email-->
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Correo:</label>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                placeholder="juan.perez@gmail.com"
                formControlName="correo_electronico"
              />
              <small
                class="form-text text-orange"
                *ngIf="campoEsValido('correo_electronico')"
                >Email es obligatorio/Email no válido.</small
              >
            </div>
          </div>
          <!--Campo de contacto-->
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Contacto:</label>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                placeholder="97432590"
                formControlName="telefono"
              />
              <small
                class="form-text text-orange"
                *ngIf="campoEsValido('telefono')"
                >Número de contacto es obligatorio.</small
              >
            </div>
          </div>
          <!--Campo de fecha de nacimiento-->
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Nacimiento:</label>
            <div class="col-sm-10">
              <div class="form-group">
                <div class="input-group">
                  <input
                    class="form-control"
                    placeholder="aaaa-mm-dd | (1993-11-29)"
                    name="dp"
                    formControlName="nacimiento"
                    ngbDatepicker
                    #d="ngbDatepicker"
                    [minDate]="{ year: 1900, month: 1, day: 1 }"
                  />
                  <div class="input-group-append">
                    <button
                      class="btn btn-outline-secondary"
                      (click)="d.toggle()"
                      type="button"
                    >
                      <i class="far fa-calendar-alt"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Campo de sexo-->
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Sexo:</label>
            <div class="col-sm-10">
              <select
                class="custom-select custom-select"
                formControlName="sexo"
              >
                <option value="" selected disabled>
                  Seleccionar una opción
                </option>
                <option value="hombre">Hombre</option>
                <option value="mujer">Mujer</option>
                <option value="otro">Otro</option>
              </select>
            </div>
          </div>
          <!--Campo para seleccionar la unidad-->
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Unidad:</label>
            <div class="col-sm-5">
              <!--Coordinación-->
              <div class="form-check">
                <label class="form-check-label">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    formControlName="coordinacion"
                  />
                  Coordinación
                </label>
              </div>
              <!--Profesional-->
              <div class="form-check">
                <label class="form-check-label">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    formControlName="profesional"
                    (change)="onAreaMedicaChange($event)"
                  />
                  Profesional
                </label>
              </div>
            </div>
            <div class="col-sm-5">
              <!--Dirección-->
              <div class="form-check">
                <label class="form-check-label">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    formControlName="direccion"
                  />
                  Dirección
                </label>
              </div>
              <!--Administrativo-->
              <div class="form-check">
                <label class="form-check-label">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    formControlName="administrativo"
                    (change)="onAdministrativoChange($event)"
                  />
                  Administrativo
                </label>
              </div>
            </div>
          </div>

          <!--Campo de área médica-->
          <div
            class="form-group row border-top"
            *ngIf="formularioUsuario.value.profesional"
          >
            <label class="col-sm-2 col-form-label mt-2">Área médica:</label>
            <div class="col-sm-5 mt-2">
              <div
                class="form-check"
                *ngFor="let area of AreaMedica | slice: 0:7; let i = index"
              >
                <label>
                  <input
                    type="checkbox"
                    class="form-check-input"
                    #inputMedica
                    [value]="area.valor"
                    (change)="onAreaMedica($event)"
                  />
                  {{ area.nombre }}
                </label>
              </div>
            </div>
            <div class="col-sm-5 mt-2">
              <div
                class="form-check"
                *ngFor="let area of AreaMedica | slice: 7:15; let i = index"
              >
                <label>
                  <input
                    type="checkbox"
                    class="form-check-input"
                    #inputMedica
                    [value]="area.valor"
                    (change)="onAreaMedica($event)"
                  />
                  {{ area.nombre }}
                </label>
              </div>
            </div>
          </div>

          <!--Campo de administrativos-->
          <div
            class="form-group row border-top"
            *ngIf="formularioUsuario.value.administrativo"
          >
            <label class="col-sm-2 col-form-label mt-2">Trabajos:</label>
            <div class="col-sm-5 mt-2">
              <div
                class="form-check"
                *ngFor="
                  let area of AreaAdministrativa | slice: 0:2;
                  let i = index
                "
              >
                <label>
                  <input
                    type="checkbox"
                    class="form-check-input"
                    [value]="area.valor"
                    (change)="onAreaAdministrativa($event)"
                    #inputAdministrativo
                  />
                  {{ area.nombre }}
                </label>
              </div>
            </div>
          </div>

          <!--Botonera-->
          <div class="form-group row border-top">
            <div class="col-sm-8 mt-2"></div>
            <div class="col-sm-4 mt-2">
              <div class="float-rigth">
                <button type="submit" class="btn btn-primary btn-block mt-2">
                  Actualizar usuario
                </button>
              </div>
            </div>
          </div>
        </form>
        <div class="card-footer text-muted text-center">Datos del usuario</div>
      </div>
    </div>
  </div>
</section>

<!--Formulario de credenciales-->
<section>
  <div class="container">
    <div class="row justify-content-center my-3">
      <div id="formulario" class="card rounded-0">
        <div
          class="card-header bg-light divCollapse"
          (click)="credCollapse.toggle()"
        >
          <h6 class="font-weight-bold mb-0">Credenciales del usuario</h6>
        </div>
        <form
          class="mx-5 mt-3"
          #credCollapse="ngbCollapse"
          [(ngbCollapse)]="credencialesCollapse"
        >
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Contraseña:</label>
            <div class="col-sm-10">
              <input
                [type]="validar ? 'text' : 'password'"
                class="form-control"
                [value]="valorPassword"
                disabled
              />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">PIN:</label>
            <div class="col-sm-10">
              <input
                [type]="validar ? 'text' : 'password'"
                class="form-control"
                [value]="valorPin"
                disabled
              />
            </div>
          </div>

          <!--Botonera-->
          <div class="form-group row border-top">
            <div class="col-sm-8 mt-2"></div>
            <div class="col-sm-4 mt-2">
              <div class="float-rigth">
                <button
                  type="submit"
                  class="btn btn-primary btn-block mt-2"
                  (click)="open(content)"
                >
                  Reestablecer credenciales
                </button>
              </div>
            </div>
          </div>
        </form>
        <div class="card-footer text-muted text-center">Contraseña y PIN</div>
      </div>
    </div>
  </div>
</section>

<!--prettier-ignore-->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Ingresar PIN</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="formularioPin" (ngSubmit)="validarPin()">
  <div class="modal-body">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">PIN:</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            formControlName="pin"
          />
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-dark">Autorizar</button>
    </div>
  </form>
</ng-template>
