<!--Encabezado de la página-->
<section class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-8">
        <h1 class="font-weight-bold mb-0">Agregar boxes</h1>
        <p class="lead text-muted">
          Agregar y gestionar disponibilidad de boxes.
        </p>
      </div>
    </div>
  </div>
</section>

<!--Formulario-->
<section>
  <div class="container">
    <div class="row justify-content-center my-3">
      <div id="formulario" class="card rounded-0">
        <!--Inicio de formulario-->
        <div class="card-header bg-light">
          <h6 class="font-weight-bold mb-0">Formulario de usuario</h6>
        </div>
        <form
          class="mx-5 mt-3"
          [formGroup]="formularioBox"
          (ngSubmit)="crearBox()"
        >
          <!--Campo de nombre de box-->
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Nombre box:</label>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                placeholder="Nombre o número del box"
                formControlName="nombre"
              />
              <small
                class="form-text text-orange"
                *ngIf="campoEsValido('nombre')"
                >Número de box es obligatorio.</small
              >
            </div>
          </div>

          <!--Campo de zona-->
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Zona:</label>
            <div class="col-sm-10">
              <select
                class="custom-select custom-select"
                formControlName="zona"
              >
                <option value="" selected disabled>
                  Seleccionar una opción
                </option>
                <option value="A">Zona A</option>
                <option value="B">Zona B</option>
                <option value="C">Zona C</option>
                <option value="procedimiento">Procedimientos</option>
              </select>
              <small class="form-text text-orange" *ngIf="campoEsValido('zona')"
                >Zona es obligatoria.</small
              >
            </div>
          </div>

          <!--Campo de etiquetas de uso-->
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Uso del box:</label>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                placeholder="Pediatría, Psicología"
                formControlName="etiquetasUso"
              />
              <small
                class="form-text text-orange"
                *ngIf="campoEsValido('etiquetasUso')"
                >Apellido es obligatorio.</small
              >
            </div>
          </div>

          <!--Campo de box disponibilidad-->
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Disponibilidad:</label>
            <div class="col-sm-10">
              <select
                class="custom-select custom-select"
                formControlName="habilitado"
              >
                <option value="" selected disabled>
                  Seleccionar una opción
                </option>
                <option value="1">Disponible</option>
                <option value="0">No disponible</option>
              </select>
              <small
                class="form-text text-orange"
                *ngIf="campoEsValido('habilitado')"
                >Seleccione la disponibilidad.</small
              >
            </div>
          </div>
          <!--Botonera-->
          <div class="form-group row border-top">
            <div class="col-sm-6 mt-2"></div>
            <div class="col-sm-6 mt-2">
              <div class="float-rigth">
                <button type="submit" class="btn btn-primary btn-block mt-2">
                  Guardar box
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<pre>{{ formularioBox.value | json }}</pre>
