<!--Cabecera de la página-->
<section class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-8">
        <h1 class="font-weight-bold mb-0">Crear citas</h1>
        <p class="lead text-muted">
          Lista de citas para el {{ mensajeCabecera }}.
        </p>
      </div>
      <div class="col-lg-3 col-md-4 d-flex">
        <button
          class="btn btn-primary w-100 align-self-center"
          (click)="open(content)"
        >
          Ingresar cita
        </button>
      </div>
    </div>
  </div>
</section>

<!--Cuerpo con la tabla de asignaciones-->
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 my-3">
        <div class="card rounded-0">
          <div class="card-header bg-light">
            <h6 class="font-weight-bold mb-0">Tabla de citas</h6>
          </div>
          <div class="card-body">
            <table class="table table-striped" *ngIf="listaCitas.length !== 0">
              <thead>
                <tr>
                  <th scope="col">Nombre Paciente</th>
                  <th scope="col">Edad Paciente</th>
                  <th scope="col">Area Médica</th>
                  <th scope="col">Profesional Asignado</th>
                  <th scope="col">Tipo</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cita of listaCitas">
                  <td>{{ cita.nombre_paciente | titlecase }}</td>
                  <td>
                    {{ cita.edad_paciente }}
                  </td>
                  <td>
                    {{ cita.valor }}
                  </td>
                  <td>
                    {{ cita.nombre_profesional | titlecase }}
                  </td>
                  <td>
                    {{ cita.tipo | titlecase }}
                  </td>
                </tr>
              </tbody>
            </table>
            <div *ngIf="listaCitas.length === 0">
              <div class="card-body">
                <div class="row mx-lg-5 mx-sm-1 justify-content-center">
                  <div class="col-lg-10 col-sm-12 mb-2">
                    <div class="card boxCard">
                      <div class="card-body">
                        <h5>No hay citas registradas para este día.</h5>
                        <small
                          >Seleccione el botón "Ingresar cita" para crear una.
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Modal crear cita-->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Crear consulta médica</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formularioCita" (ngSubmit)="crearCita()">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label class="font-weight-bold">Fecha</label>
          <input
            type="text"
            class="form-control"
            disabled
            value="{{ fecha }}"
          />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label class="font-weight-bold">Rut de paciente</label>
          <input
            type="text"
            class="form-control"
            formControlName="id_paciente"
            placeholder="Ingrese el RUT"
            [ngbTypeahead]="search"
            [resultTemplate]="rt"
            [inputFormatter]="formatter"
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="font-weight-bold">Área médica</label>
          <select
            class="custom-select custom-select"
            formControlName="area_medica"
          >
            <option value="" selected disabled>Seleccionar tipo</option>
            <option
              *ngFor="let area of listaAreaMedica"
              value="{{ area.valor }}"
              (click)="actualizarLista(area.valor)"
            >
              {{ area.nombre }}
            </option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label class="font-weight-bold">Nombre profesional</label>
          <select
            class="custom-select custom-select"
            formControlName="id_usuario_atencion"
          >
            <option value="" selected disabled>Seleccionar profesional</option>
            <option
              *ngFor="let profesionales of listaProfesionalesFiltrado"
              value="{{ profesionales.rut }}"
            >
              {{ profesionales.nombreCompleto }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label class="font-weight-bold">Tipo de consulta</label>
          <select class="custom-select custom-select" formControlName="tipo">
            <option value="" selected disabled>Seleccionar tipo</option>
            <option value="ingreso">Ingreso</option>
            <option value="control">Control</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Registrar</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #rt let-r="result" let-t="term">
  <div (click)="setRutPaciente(r.rut)">
    ({{ r.rut }}) {{ r.nombre }} {{ r.apellido }}
  </div>
</ng-template>

<pre>{{ formularioCita.value | json }}</pre>
